<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2 about card">
            <div class="card-header">About</div>
            <div class="card-body">
              <h6>Bio:</h6>
            </div>
        </div>
        <div class="col-md-6 main card">
            <div class="card-header">UserName should also display here</div>
            <!-- <i class="fas fa-user-circle"></i> -->
            <div class="profile col-md-5">

            </div>
            <!-- <div class="col-md-1 "><button id="type">&#9998;</button></div> -->
            <textarea name="" id="" cols="40" rows="2" placeholder="Which quote is in mind?"></textarea>
            <!-- <div class="card-footer">Footer</div> -->
        </div>
        <div class="col-md-3 imaged">
          <h1>hstatsauiddvsdid</h1>
        </div>
      </div>
    </div>
  </body>
</html>
