<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12"> -->
            <img src="src/assets/Logo Design_files/first.png" alt="Logo" class="img ">
          <div class="col-md-4 logoName ">
            <h5>Quote Share</h5>

          </div>
          <div class="col-md-3 two">
            <!-- Users name will append here -->
            <p>{{Name}}</p>
          </div>
          <div class="col-md-4 three">
            <!-- <ul>
              <li class="col-md-1"> <a href="#How it works"></a> </li>
              <li> <a href="#About"></a> </li>
              <li class="col-md-1"></li>
            </ul> -->
          </div>
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>

